<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BranchMapper">

    <select id="selectBranch" resultType="Branch">
        SELECT B.BRANCH_UUID, B.BRANCH_NAME, E.EMPLOYEE_NO, E.EMPLOYEE_NAME
          FROM BRANCH_TBL B
          JOIN EMPLOYEE_TBL E
            ON B.BRANCH_UUID = E.BRANCH_UUID
         WHERE B.BRANCH_UUID = #{branchUuid}
           AND E.EMPLOYEE_NO = #{employeeNo}
    </select>

    <select id="selectEmployee" resultType="Branch">
        SELECT *
          FROM EMPLOYEE_TBL
         WHERE EMPLOYEE_NO = #{employeeNo}
    </select>

</mapper>